.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.cap {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}