.loader {
	min-height: calc(100vh - 105px);
	display: flex;
	justify-content: center;
	align-content: center;
}

.header {
	padding: 20px 30px;
	text-align: center;
}

.sectionTitle {
	text-align: center;
	margin: 0 auto 30px;
}

.listWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	place-items: center;
	gap: 20px;
	padding: 0 20px;
	margin-bottom: 50px;
}
