.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 105px);
    justify-content: space-between;
    gap: 20px;
}

.header {
    margin-top: 20px;
}

.header {
    margin-bottom: 20px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    border-radius: 30px;
}

.linksContainer {
    margin-bottom: 30px;
}

.linksList {
    display: flex;
    gap: 30px;
    justify-self: center;
}

.linkIcon:hover {
    filter: invert(100%) brightness(200%);
    transform: scale(1.5);
}