.container {
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid black;
    background-color: lightskyblue;
}

.content {
    min-height: calc(100vh - 105px);
    padding: 0px 30px;
}